
/Dev Assets/Kanon
/demos/Kanon/build
demos/Kanon/Kanon.elf
demos/Kanon/Kanon.gba
demos/Kanon/Kanon.sav
/build
cpiaengine.gba
cpiaengine.elf
*.ss1
*.sav
/Dev Assets/BYS
/Dev Assets/cpia
demos/ByYourSide/ByYourSide.elf
demos/ByYourSide/ByYourSide.gba
*.ss2
*.ss3
/Dev Assets/SHHis
